{{#if this}}
***

## Events

{{#each this}}
{{! Name and anchor }}
### `"{{this.name}}"`<a id="event:{{this.name}}"></a>

{{! Description }}
{{{this.description}}}

{{! Since }}
{{#if since}}
**Since**: {{since}}
{{/if}}

{{#if properties}}

**Event Properties**

| Property                 | Type                     | Description              |
| ------------------------ | ------------------------ | ------------------------ |
{{#each properties}}
  |**`{{this.name}}`** |{{this.type.names.[0]}}|{{{stripNewlines this.description}}}|
{{/each}}

{{/if}}

{{/each}}

{{/if}}
